@{
    ViewData["Title"] = "Results Page";
}
<div class="timerContainerLogo">
    <br />
    <a class="homeButton" asp-controller="Home" asp-action="Index">
        <iconify-icon inline icon="dashicons:admin-home"></iconify-icon>
    </a>
    <div class="logo"><a asp-controller="Home" asp-action="Index"><img class=" logoItem" src="/images/logo.png" /></a></div>
    <div class="timerContainer">
        <div class="textMessage"><iconify-icon inline icon="ic:baseline-access-time"></iconify-icon>   PROCHAINE LOTERIE DANS: </div>
        <div class="timeBox">
            <span id="timer" class="timerTimeRemains"></span>
        </div>
    </div>
</div>
<br />
<hr class="separation">
<br />
<div class="GameArea">
    <div class="mainBlock3">
        <h2 class="changeColor">Résultats du tirage:</h2>
        <h2>(@Model.DateTime)</h2>
        <br />
        <h2 class="changeColor">Numéros gagnants:</h2>
        <br />
        <div class="gameGrid">
            @{
                for (int i = 0; i < 6; i++)
                {
                        <span class='ball'> @Model.DrawNumbers[@i] </span>
                }
            }
        </div>
        <br />
        <h2 class="changeColor">Vos numéros:</h2>
        <br />
        <div class="gameGrid">
            @{
                for (int i = 0; i < 6; i++)
                {
                    if (Model.playedNumberIsGood(@Model.PlayedNumbers[@i]))
                    {
                        <span class='ballColoured'> @Model.PlayedNumbers[@i]</span>
                    }
                    else
                    {
                        <span class='ball'> @Model.PlayedNumbers[@i]</span>
                    }    
                }
            }
        </div>
        <br />
        <h2>Vous avez trouvé <span class="changeColor">@Model.NumberOfGoodNumbers</span> bon(s) numéro(s).</h2> 
        <h2>Vous avez gagné <span class="changeColor">@Model.Gain €</span></h2>
        <br />
        <h2 class="changeColor">Gagnants:</h2>
        <h4>Rang 1 (6 bons n°): <span class="changeColor">@Model.Rank1Winners</span> personne(s) remporte(nt) <span class="changeColor">@Model.Rank1Gain €</span> </h4>
        <h4>Rang 2 (5 bons n°): <span class="changeColor">@Model.Rank2Winners</span> personne(s) remporte(nt) <span class="changeColor">@Model.Rank2Gain €</span> </h4>
        <h4>Rang 3 (4 bons n°): <span class="changeColor">@Model.Rank3Winners</span> personne(s) remporte(nt) <span class="changeColor">@Model.Rank3Gain €</span> </h4>
        <br />
        <h3><a asp-controller="Home" asp-action="Informations"><iconify-icon inline icon="ic:outline-info"></iconify-icon> A propos des gains</a></h3>
        <br />
        <div class="buttonBox">
            <a class="button" asp-controller="Home" asp-action="Session">REJOUER</a>
        </div>
    </div>
</div>
<div class="block3">
    <br>
    <br>
    <div class="infoLink"><a href="https://www.joueurs-info-service.fr/Joueurs/etre-rappele-par-un-conseiller?xtor=SEC-1-GOO&gclid=EAIaIQobChMI_evikvfV-wIV6_93Ch2EuQAVEAAYASABEgJrxPD_BwE&gclsrc=aw.ds" target="_blank"><img class=" infoItem" src="/images/info-service.png"></a></div>
    <br>
    <p class="warnings">Les jeux de hasard comportent un risque, et peuvent entraîner dépendance, isolement social et dépression. Si vous pensez être un sujet à risque, ne jouez pas ou appeler le 09 74 75 13 13 (7j/7, appel anonyme et non surtaxé)</p>
    <br>
</div>

